body{
    background-color: beige;
}
button{
    width: 90px;
    height: 35px;
    background-color: rgba(234, 255, 0, 0.648);
    border-color: rgba(5, 8, 10, 0.541);
    border: 20 solid;
}
.calculator-container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}